<VirtualHost *:80>
    ServerName msweb

{{ if eq (getenv "MS_USE_SSL") "true" }}
    LoadModule ssl_module modules/mod_ssl.so
    SSLEngine on
    SSLCertificateFile /usr/local/apache2/certs/mysitename.crt
    SSLCertificateKeyFile /usr/local/apache2/certs/mysitename.key

    LoadModule wsgi_module "/usr/local/lib/python3.4/dist-packages/mod_wsgi/server/mod_wsgi-py34.cpython-34m.so"
    WSGIDaemonProcess mscan_web threads=5 python-path=/opt/multiscanner/web
    WSGIScriptAlias / /opt/multiscanner/docker/distributed/mscan_web.wsgi
{{ end }}
    <Directory /opt/multiscanner>
        WSGIProcessGroup mscan_web
        WSGIScriptReloading On
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
        Require all granted
    </Directory>

    Alias /static/ /opt/multiscanner/web/static/
    <Directory /opt/multiscanner/web/static>
            Order allow,deny
            Allow from all
            Require all granted
    </Directory>

    Alias /templates/ /opt/multiscanner/web/templates/
    <Directory /opt/multiscanner/web/templates>
            Order allow,deny
            Allow from all
            Require all granted
    </Directory>

    ErrorLog /var/log/mscanweb/error.log
    LogLevel debug
    CustomLog /var/log/mscanweb/access.log combined
</VirtualHost>
